.cursor-pointer {
  cursor: pointer;
}
.carousel-img img {
  height: 520px;
  object-fit: cover;
}
.carouselSideCard img {
  height: 245px;
  object-fit: cover;
}
.categorySmall2 img {
  height: 80px;
  width: 100px;
  object-fit: cover;
}
.card4-img img {
  height: 80px;
  width: 80px;
  object-fit: cover;
}

.card2-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.catSmallCard img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.carouselSmall img {
  height: 290px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .carousel-img img {
    height: 420px;
  }
  .carouselSideCard img {
    height: 300px;
  }
  .carouselSmall img {
    height: 380px;
  }
}
@media (max-width: 480px) {
  .carousel-img img {
    height: 340px;
  }
}
.break-line-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.break-line-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.break-line-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.hover-red:hover {
  color: #ff2143;
}
.topbar-flex {
  display: flex;
  align-items: center;
  color: white;
}
.top-mid-carousel {
  /* margin-top: 3px; */
  /* width: 50%; */
  flex-grow: 1;
  max-width: 70%;
}
.topbar-top-heading p {
  color: white;
  margin-bottom: 0;
  margin-right: 20px;
  padding: 5px 10px;
  background-color: red;
}
.topbar-time {
  margin-left: auto;
}
@media (max-width: 768px) {
  .topbar-time {
    display: none;
  }
}

.blog-detail-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.blog-img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.text-on-img {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

@media (max-width: 767px) {
  .blog-img {
    max-height: 200px;
  }
}
